
:root {
    --green: #39fa70;
    --gray: #333333;
    --red: #fa2d2d;
    --blak: #oc141c;
    --base-fon-family: 'Monserrat', san-serif;
    --padding-container: 500px 0;


}


.container-main {
    height: 100%;
    width: 100%;
    border: var(--green) solid 1px;
    background-color:white;
   
    display: flex;
    
    flex-direction: column;
    
}


h5{
    margin-top: 60px;
    margin-bottom: 0px;
   
    font-size: 40px;
    font-family:sans-serif;
    
    text-align: center;

}
.container-main__cards{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
    width: 100%;
    padding: 90px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 0px;
      
}





.container-main__items{
    border: solid .2px var(--gray);
    border-radius: 6px;
    background-color: white;
   
    

    

}

.container-main__items:hover{
    box-shadow: 0px 5px 10px #50504e;
}



.container-main img{
    width: 350px;
    height: 400px;
    margin: 10px;
}

.container-main img:hover {
    
   image-orientation: flip;
    width: 350px;
    height: 402px;
    position: relative;
    top: 2px;
    left: .5px;
   transition-duration: 10s ;
    box-shadow: black 20px;
}

.container-main h3{
    margin: 10px;
    font-size: 30px;
    color:var(--gray);
}
.container-main p{
    margin: 10px;
      font-size: 22px;
      color: black;

}

.buttom-main{
    
    display: flex;
    margin: 0px 0px 40px;
    justify-content: center;

    
}

.buttom-main i{
    font-size: 30px;
    cursor: pointer;
}


